<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />

    <!-- Bulma -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />

    <!-- Font Awesome CSS -->
    <script src="https://kit.fontawesome.com/47dd3a40e7.js" crossorigin="anonymous"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
      integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>

    <link rel="stylesheet" type="text/css" href="static/style.css" />

    <title>제이슨의 게시판 | 게시글</title>

    <style></style>

    <script>
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const postsId = urlParams.get("postsId");
      const token = localStorage.getItem("token");

      $(document).ready(function() {
        get_detail();
        get_replies();
        if (token) {
          $("#nav-loginOut").text("로그아웃");
        }
      });

      //login 여부에 따라 로그아웃처리 또는 login페이지 이동
      function signInOut() {
        if(token){
          localStorage.clear();
          window.location.href = "/";
        } else{
          window.location.href = "/login";
        }
      }

      // get_detail 함수 내에서 할당되고 move_edit함수에서 인자로 사용
      // > 수정화면 진입 시 동일 포스트 보여주기 위함
      let postsId_toEdit = "";

      function get_detail() {
        $.ajax({
          type: "GET",
          url: `/api/posts/${postsId}`,
          data: {},
          error: function(xhr, status, error) {
            if (status == 404) {
              alert("존재하지 않는 포스팅입니다.");
            }
            window.location.href = "/";
          },
          success: function(response) {
            if (response.detail == null) {
              alert("해당 포스팅이 존재하지 않습니다.")
              window.location.href='/'
            }else{
              let postDetail = response.detail;
            let temp_date = postDetail.date;
            temp_date = parseInt(temp_date);

            let date_set = new Date(temp_date);
            let print_date =
              date_set.getFullYear() +
              "년 " +
              ("0" + (date_set.getMonth() + 1)).slice(-2) +
              "월 " +
              ("0" + date_set.getDate()).slice(-2) +
              "일";
            $("#title").text(postDetail.title);
            $("#writer").text(postDetail.writer);
            $("#date").text(print_date);

            //text속성으로 넣을 때, 문자열내 줄바꿈 관련 기호를 <br>태그로 치환한 후 html 형식으로 붙여넣어 br 적용되게 함.
            let contentBr = postDetail.content
            contentBr = contentBr.replace(/(?:\r\n|\r|\n)/g, '<br>');
            $('#content').html(contentBr)

            postsId_toEdit = postDetail.postsId;
            }
            
          }
        });
      }

      //수정하기 클릭 시 실행하여 post_edit페이지로 이동
      //토큰 여부 사전 체크
      function tokenCheck(){
        if (!token) {
          alert("로그인이 필요한 기능입니다.");
          window.location.href="/login"
        }else{
          let moveTo = "?postsId=" + postsId_toEdit;
          window.location.href = "/post_edit" + moveTo;
        }
      }


      //--- 이하 댓글 관련 기능 ---

      //-- 댓글 조회 --
      function get_replies() {
        $("#replies_box").empty();
        const token = localStorage.getItem("token");

        if (!token) {
          $("#reply_input").on("click", function(){
            alert("로그인이 필요한 기능입니다.");
            window.location.href="/login"
          });
        }
        
        $.ajax({
          type: "POST",
          url: `/api/replies/${postsId}`,
          data: {
            token,
          },
          success: function(response) {
            console.log(response);
            let replies = response["replies"];
            for (let i = 0; i < replies.length; i++) {

              let contentBr = replies[i].reply_content
              contentBr = contentBr.replace(/(?:\r\n|\r|\n)/g,'<br>');
              replies[i].reply_content = contentBr

              if (replies[i].nickname == response.chk_nickname) {
                make_authcard(replies[i])
                console.log('-auth card 생성!-')
              }else{
                make_card(replies[i]);
                console.log('-normal card 생성!-')
              }
              
            }
          }
        });
      }

      //삭제 버튼 온클릭 임시로 백업 => onclick="delete_card('${item.replyId}')"
      //-- 해당 계정으로 작성한 댓글카드 생성 --
      function make_authcard(item) {
        let htmlTemp = `
                      <div class="card reply_card" id="${item.replyId}">
                        <div class="card-content">
                          <div class="content"><i class="far fa-comment-dots"></i>
                            
                            ${item.nickname}
                            <div id="reply_topSet">
                              <span onclick="edit_card('${item.replyId}','${item.nickname}','${item.reply_content}')"> 수정 </span> ｜ 
                              
                              <span onclick="deleteAlert('${item.replyId}')">삭제</span>
                            </div>
                            <div>
                            ${item.reply_content}
                            </div>
                          </div>
                        </div>
                      </div>
                            `;
        $("#replies_box").append(htmlTemp);
      }

      //-- 해당 계정이 아닌 계정으로 생성한 댓글카드 생성 --
      function make_card(item) {
        let htmlTemp = `
                      <div class="card reply_card" id="${item.replyId}">
                        <div class="card-content">
                          <div class="content"><i class="far fa-comment-dots"></i>
                            ${item.nickname} <br>
                            <div>
                            ${item.reply_content}
                            </div>
                          </div>
                        </div>
                      </div>
                            `;
        $("#replies_box").append(htmlTemp);
      }

      //--- 댓글작성 ---

      function create_reply() {
        let reply_content = $("#reply_input").val();

        $.ajax({
          type: "POST",
          url: `/api/reply_create`,
          headers: {
                  authorization: `Bearer ${localStorage.getItem("token")}`,
                  },
          data: {
            reply_content,
            postsId,
          },
          success: function(response) {
            window.location.reload();
            alert(response["result"]);
          },
          error: function (error) {
            customAlert(error.responseJSON.errorMessage);
          },
        });
      }

      //--- 이하 댓글 수정/삭제 ---

      //-- 수정버튼 클릭 --
      function edit_card(replyId, nickname, reply_content) {
        console.log('edit클릭!!');
        const temp_replyId = replyId;
        const temp_nickname = nickname;
        let temp_reply_content = reply_content;

        let fixBr = temp_reply_content
        temp_reply_content = fixBr.replace(/(?:<br><br \/>|<br>|<br \/>)/g, '\n');

      $( "div#"+temp_replyId ).replaceWith(`<div class="card reply_card" id="${temp_replyId}">
                        <div class="card-content">
                          <div class="content"><i class="far fa-comment-dots"></i>
                            ${temp_nickname}
                            <div id="reply_topSet">
                              <span onclick="edit_confirm('${temp_replyId}')">저장</span> ｜ 
                              <span onclick="window.location.reload()">취소</span>
                            </div>
                            <div>
                              <textarea
                                style="resize: none; height: 75px;"
                                id="edit_content"
                                class="input"
                                rows="3"
                              >${temp_reply_content}</textarea>
                            </div>
                          </div>
                        </div>
                      </div>`);
      }

      //-- 수정 확인 --
      function edit_confirm(replyId){
        const editted_content = $('#edit_content').val();
        console.log(editted_content)

        $.ajax({
          type: "POST",
          url: `/api/reply_edit/`,
          headers: {
                  authorization: `Bearer ${localStorage.getItem("token")}`,
                  },
          data: {
            editted_content,
            replyId,
            postsId,
          },
          success: function(response) {
            window.location.reload();
            alert(response["result"]);
          },
          error: function (error) {
            customAlert(error.responseJSON.errorMessage);
          },
        });
      }


      //-- 댓글 삭제 --
      function delete_card(){
        let replyId = $('#deleteAlertModal').data('test')
        $.ajax({
          type: "POST",
          url: `/api/reply_delete/`,
          headers: {
                  authorization: `Bearer ${localStorage.getItem("token")}`,
                  },
          data: {
            replyId,
            postsId,
          },
          success: function(response) {
            window.location.reload();
            alert(response["result"]);
          },
          error: function (error) {
            customAlert(error.responseJSON.errorMessage);
          },
        });
      }

      //--Alert--
      function customAlert(text, confirmCallback) {
        $("#alertText").text(text);
        $("#alertModal").modal("show");
        if (confirmCallback) {
          $("#alertModal .btn-confirm").click(confirmCallback);
        }
      }

      function deleteAlert(replyId) {
        $("#deleteAlertModal").modal("show");
        $('#deleteAlertModal').data('test',replyId);
      }

    </script>
  </head>
  <body>
    <!-- <nav class="navbar navbar-light">
      <span class="container-fluid">
        <a id="nav-title" class="navbar-brand" href="/">제이슨의 게시판</a>
      </span>
    </nav> -->

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a id="nav-title" class="navbar-brand" href="/">제이슨의 게시판</a>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-light navbar-btn" id="nav-loginOut" onclick="signInOut()">
                  로그인
                </a>
                <a class="button is-light navbar-btn" id="nav-regist" href="/register">
                  <strong>회원가입</strong>
                </a>
              </div>
            </div>
          </div>
      </div>
    </nav>

    <div id="detail_wrap">
      <div class="detail_content is-medium">
        <h1 id="title"></h1>
        <span id="top_set">
          <span id="writer"></span> ｜ <span id="date"></span> ｜
          <span id="edit_btn" onclick="tokenCheck()">수정</span>
        </span>
        <hr />
        <p id="content"></p>
        <hr />
      </div>
      <div id="tolist_wrap">
        <a href="/"><button class="button" id="tolist_btn">목록으로</button></a>
      </div>
    </div>

    <div class="card" id="reply_makeBox">
      <div class="card-content" id="create_reply_box">
        <div class="control">
          <textarea
          style="resize: none;"
          id="reply_input"
          class="input"
          placeholder="여러분의 댓글을 입력해주세요. (최대 3줄까지 표시됩니다.)"
          rows="3"
        ></textarea>
        </div>
        <button class="button is-link is-light is-rounded" id="create_reply_btn" onclick="create_reply()">댓글작성</button>
      </div>
    </div>

    <div id="replies_box">
    </div>


    <!-- modal -->
    <div
      class="modal text-left"
      id="alertModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="alertModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="alertModalLabel">알림</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="alertText">
            정말로 로그아웃 하시겠습니까?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="button"
              data-dismiss="modal"
            >
              확인
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- reply delete modal -->
    <div
      class="modal text-left"
      id="deleteAlertModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="alertModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" id="delete_reply_modal" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="alertModalLabel">알림</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="alertText">
            정말로 댓글을 삭제하겠습니까?
          </div>
          <div class="modal-footer">
              <button class="button is-warning" onclick="delete_card()">확인</button>
              <button type="button" class="button" data-dismiss="modal">취소</button>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>